
@media screen and (max-width:600px){
    #main-img{
        background-image:linear-gradient(rgba(0,0,0,0.8)0,rgba(0,0,0,0.3)60%,rgba(0,0,0,1)100%) ,url('netfliximg.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80vh;
        background-repeat: no-repeat;
        position: relative;
    }
    #selector{
        display: none;
    }
    #selector2{
        display: block;
        margin-top: 3vh;
        margin-left: 2vw;
    }
    #netflixlg{
        width: 30vw;
        margin: 2vw 0 0 3vw;
    }
    #nav-bar{
        align-items: flex-start;
    }
    #btn{
        width: 10vh;
        margin-top: 3vh;
        height: 4.5vh;
        font-size: 1.8vh;
    }
    #navsec{
        display: flex;
        justify-content: space-between;
        width: 22vh;
        margin-right: 2vh;
    }
    #hd2text1{
        display: none;
    }
    #hd2text2{
        display: none;
    }
    #hd2text11{
        display: block;
        font-weight: bolder;
        padding-top: 1vh;
    }
    #hd2text21{
        display: block;
        padding-top: 1vh;
    }
    .text1{
        display: block;
    }
    #hd2text3{
        font-size: 5vw;
        font-family: Arial, sans-serif;
        color: rgb(227, 227, 227);
        font-weight: bold;
        padding-top: 2.1vh;
    }
    #hd2text4{
        display: none;
    }
    #hd2text41{
        font-size: 5vw;
        font-family: Arial, sans-serif;
        color: rgb(227, 227, 227);
        /* font-weight: bold; */
        padding-top: 3.5vh;
        line-height: 3.5vh;
    }
    #inp{
        width: 73vw;
        height: 13.5vw;
        background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65));
        color: white;
        font-family: sans-serif;
        font-size: 1.1rem;
        font-weight: bold;
        border-radius: 0.4vh; 
        border: 1px solid grey;
        margin-top: 0.7vh;
    }
    #btn2{
        width: 44vw;
        height: 14vw;
        margin-top: 4.4vw;
        border: none;
        border-radius: 0.3vh;
        font-size: 1.2rem;
        color: white;
        margin-right: 4vw;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    } 
    div#inpbu{
        padding-top: 3vw;
        flex-direction: column;
    }
    .hr1{
       height: 7px;
    }
    #main11{
        background-color: black;
        width: 100%;
        height: 67vh;
        display: flex;
        align-items: center;
    }
    #main11a{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: black;
    }
    #main11a-t1{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        font-weight: bold;
        font-size: 10vw;
        display: block;
    }
    #main11a-t2{
        font-size: 5vw;
        font-family: Arial, sans-serif;
        color: rgb(227, 227, 227);
        /* font-weight: bold; */
        padding-top: 1vw;
        display: block;
        
    }
    .main11a-t2m{
        margin-top: 4vw;
        
    }
    #tvimg{
        display: block;
    }
    #m11agrid1{ 
        display: none;
    }
    #m11agrid2{ 
        display: none;
    }
    #main22{
        width: 100%;
        height: 77vh;
        background-color: black;
        display: flex;
        align-items: center;
    }
    #main22a{
        width: 100%;
        height: 85%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #m22a-grid1{
        display: none;
    }
    #m22a-grid2{
        display: none;
    }
    #strthg{
        display: block;
    }
    #main33{
        width: 100%;
        height: 65vh;
        background-color: black;
        display: flex;
        align-items: center;
    }
    #main22ax{
        width: 100%;
        height: 85%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #main44{
        width: 100%;
        height: 76vh;
        background-color: black;
        display: flex;
        align-items: center;
    }
    #main55{
        width: 100%;
        height: 132.5vh;
        background-color: black;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .m55a{
       margin-top: 6vh; 
    }
    .m55b{
        margin-top: 0.7vh; 
    }
    #m55c{
        height: 53%;
        width: 87%;
        margin-top: 3vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10vh 13vh 10vh 10vh 10vh 10vh;
        row-gap: 1vh;
    }
    .m55d{
        margin-top: 5vh;
    }
    .m55agrid{
        display: none;
    }
    .m55dgrid{
        display: none;
    }
    .m55inpbut-lap{
        display: none;
    }
    .m55cgr{
        padding: 0 2vh 0 2vh ;
    }
    #main11a-t2grid-2{
        display: none;
    }
    .fa-solid fa-plu {
        font-size: 1vh;
    }
    .fa{
        font-size: 2rem;
    }
    #foot66{
        width: 100%;
        height: 61vh;
        padding: 3vh 0 0 3vh;
    }
    #ft-text1{    
        font-size: 4.5vw;
        font-weight: bold;
        padding-bottom: 2vh;
        
    }
    #ft-2{
        grid-template-columns: 43vw 42vw;
        grid-template-rows: 55vh;
        column-gap: 1vh;
    }
    .ft-text2{    
        font-size: 3.7vw;
        font-weight: bold;
        padding: 2.5vh 0 0 0;
        
    }
    .ft-2a{
        display: block;
    }
    .ft-2agrid{
        display: none;
    }

}


    






