*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main-img{
    background-image:linear-gradient(rgba(0,0,0,0.9)0,rgba(0,0,0,0.3)60%,rgba(0,0,0,1.8)100%) ,url('netfliximg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 43rem;
    background-repeat: no-repeat;
    position: relative;
}
#nav-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    justify-content: space-between;
}
#netflixlg{
    width: 12rem;
    margin: 1.2rem 0 0 10rem;
}
#navsec{
    width: 15rem;
    height: 3.5rem;
    margin-right: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#selector{
    width: 8rem;
    height: 2rem;
    background: transparent;
    color: white;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid grey;
}
#selector2{
    width: 9vh;
    height: 4.5vh;
    background: transparent;
    color: white;
    font-size: 0.9rem;
    border-radius: 1vw;
    border: 1px solid grey;
    display: none;
}
#btn{
    width: 5rem;
    height: 2rem;
    background-color: rgb(187, 4, 4);
    border: none;
    border-radius: 0.3rem;
    margin-right: 1rem;
    font-size: 1rem;
    color: white;
    font-weight: 500;
}
#hd2{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
    
#hd2text1{
    font-size: 3.1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding-top: 10rem;
    font-weight: bolder;
}
#hd2text2{
    font-size: 3.1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bolder;
    justify-self: center;
}
#hd2text3{
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    color: white;
    font-weight: lighter;
    padding-top: 1.3rem;
}
#hd2text4{
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    color: white;
    font-weight: lighter;
    padding-top: 2rem;
}
#inp{
    width: 25rem;
    height: 3.5rem;
    margin-top: 0.7rem;
    background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65));
    color: rgb(250, 248, 248);
    font-size: 2rem;
    border-radius: 0.4rem;
    border: 1px solid grey;
}
#btn2{
    width: 13rem;
    height: 3.5rem;
    margin-top: 0.6rem;
    margin-left: 0.7rem;
    background-color: rgb(187, 4, 4);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}
.text1{
    display: none;
}
#hd2text21{
    display: none;
}
.hr1{
    width: 100%;
    height: 1.5rem;
    background-color: rgb(45, 43, 43);
    border: 1px solid black;
}
#m11agrid1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#m11agrid2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#main11a-t1{
    display: none;
}
#main11a-t2{
    display: none;
}
#main11a-t1rgid{
    font-size: 3.4vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bolder;
}
#main11a-t2grid{
    font-size: 1.6vw;
    font-family: Arial, sans-serif;
    color: white;
    font-weight: lighter;
    padding-top: 2.5vh;
}
#tvimg-grid{
    width: 85%;
    padding-bottom: 2vh;
}
#main22a{
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
#main22{
    background-color: black;
    width: 100%;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#m22a-grid1{
    display: flex;
    justify-content: center;
}
#m22a-grid2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 7vh 0;
}
#strthg-grid{
    width: 45vw;
    height: 60vh;
    padding: 0 0 0 6vw ;
}
    
#hd2text21{
    font-size: 9vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bold;
    justify-self: center;
}
#hd2text11{
    font-size: 9vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: lighter;
    justify-self: center;
}
#main11{
    background-color: black;
    width: 100%;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main11a{
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
#tvimg{
    display: none;
    width: 85%;
    margin-top: 3.5vh;
}
#strthg{
    display: none;
}
#main33{
    width: 100%;
    height: 82vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main22ax{
    width: 75%;
    height: 80%;
    display: grid;
    grid-template-columns: 50% 44%;
    grid-template-rows: 100%;
}
#main44{
    width: 100%;
    height: 82vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main55{
    width: 100%;
    height: 132.5vh;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.m55agrid{
    margin-top: 10vh;
}
#m55c{
    height: 61%;
    width: 77%;
    margin-top: 3vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12vh 12vh 12vh 12vh 12vh 12vh;
    row-gap: 1.5vh;
}
.m55cgr{
    background-color: rgb(47, 46, 46);
}
.m55dgrid{
    margin-top: 3vh;
    font-size: 0.1vw;
}
.m55inpbut{
    display: none;
}
.m55cgr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5vh 0 3.5vh;
}
#main11a-t2grid-2{
    font-size: 1.6vw;
    font-family: Arial, sans-serif;
    color: white;
    font-weight: lighter;
}
.fa{
    font-size: 6vh;
}
#foot66{
    width: 100%;
    height: 57vh;
    background-color: black;
    padding: 9.5vh 0 0 24.5vh;
    
}
#ft-text1{
    font-size: 1rem;
    font-family: Arial, sans-serif;
    color: rgb(158, 158, 158);
    font-weight: lighter;
    padding-bottom: 1rem;

}
#ft-2{
    display: grid;
    grid-template-columns: 14rem 14rem 14rem 14rem;
    grid-template-rows: 25rem;
    column-gap: 2rem;
}
.ft-text2{
    font-size: 0.9rem;
    font-family: Arial, sans-serif;
    color: rgb(158, 158, 158);
    font-weight: lighter;
    padding: 1rem 0 0 0;
}
.ft-2a{
    display: none;
}






